<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<!-- Если список books не пустой -->
<div th:if="${not #lists.isEmpty(books)}">
    <hr/>
    <p><strong>Книги:</strong></p>
    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfWriting()}">book</a>
    </div>
</div>
<!-- Если список books пустой -->
<div th:unless="${not #lists.isEmpty(books)}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<br/>
<hr>
<!--<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>-->

<br/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit">
</form>

<br/>
<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>